<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="z.zer.tor.media"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- low level networking -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- generic -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="z.zer.tor.media.android.gui.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_label"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.MediaTor">
        <activity
            android:name="z.zer.tor.media.android.gui.activity.MainActivity"
            android:label="@string/application_label"
            android:launchMode="singleTask"
            android:protectionLevel="dangerous"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- handle .torrent urls, files and magnets -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-bittorrent" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.gui.activity.PlayerActivity"
            android:parentActivityName=".android.gui.activity.MainActivity"
            android:theme="@style/PlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- handle .torrent urls, files and magnets -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-bittorrent" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.torrent" />
            </intent-filter>
        </activity>
        <activity
            android:name="z.zer.tor.media.android.gui.activity.WizardActivity"
            android:label="@string/application_label"
            android:theme="@style/WizardActivity" />
        <activity
            android:name="z.zer.tor.media.android.gui.activity.SettingsActivity"
            android:label="@string/activity_preferences_name" />
        <activity
            android:name="z.zer.tor.media.android.gui.activity.ImageViewerActivity"
            android:label="@string/picture" />
        <activity
            android:name="z.zer.tor.media.android.gui.activity.VPNStatusDetailActivity"
            android:excludeFromRecents="true"
            android:label="@string/activity_VPN"
            android:noHistory="true" />
        <activity
            android:name="z.zer.tor.media.android.gui.activity.TransferDetailActivity"
            android:label="@string/title_activity_transfer_detail" />

        <!-- apollo activities -->
        <activity
            android:name="com.andrew.apollo.ui.activities.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.andrew.apollo.ui.activities.AudioPlayerActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/frostwire_player"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/playlist" />
                <data android:mimeType="vnd.android.cursor.dir/albums" />
                <data android:mimeType="vnd.android.cursor.dir/artists" />
            </intent-filter>
            <intent-filter>
                <action android:name="zig.zak.media.tor.android.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="vnd.android.cursor.dir/audio" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.andrew.apollo.ui.activities.ProfileActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name="com.andrew.apollo.ui.activities.ShortcutActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.andrew.apollo.ui.activities.SearchActivity"
            android:parentActivityName="com.andrew.apollo.ui.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- services -->

        <service
            android:name="z.zer.tor.media.android.gui.services.EngineService"
            android:exported="false" />
        <service
            android:name="com.andrew.apollo.MusicPlaybackService"
            android:protectionLevel="dangerous" />

        <!-- receivers -->

        <receiver android:name="z.zer.tor.media.android.gui.services.EngineBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- providers -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
<!--        <meta-data-->
        <!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
        <!--            android:value="@string/admob_app_id" />-->
    </application>
</manifest>
